.page-2{
    background-color: #c7c6c7;
}
.page-2 section .card{
    background-color: #00000000;
    max-width: 700px;
    margin: auto;
}
.page-2 section .canvas{
    max-width: 345px;
    margin:auto
}