.page-2{
    padding-top: 61px;
}
.page-2 h1{
    padding: 35px;
}
.page-2 div .card{
    background:#262c2e;
    max-width: 700px;
    margin: auto;
}
.page-2 div .card small{
    color: rgb(218, 183, 183);
}
.page-2 div .canvas{
    max-width: 345px;
    margin:auto;
    padding: 2px;
}

/* 751px */
@media (min-width:751px) {
    .page-2 div .card{
        width: 640px;
    }
}