.page-2{
    background-color: #c7c6c7;
    padding-top: 61px;
}
.page-2 h1{
    padding: 35px;
}
.page-2 section .card{
    background:rgba(255, 255, 255, 0.226);
    max-width: 600px;
    min-height: 200px;
    margin: auto;
}
.page-2 section .canvas{
    max-width: 345px;
    min-width: 200px;
    margin:auto
}

/* os cartoes n estão padronizado acima de 751px */