/* .page-1{
} */
.page-1 .container{
    padding: 12px 12px;
}
.page-1 .title{
    background-color: #790e1b;
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}
.page-1 .title .intro {
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 50px;
}
.page-1 .title a{
    position: absolute;
    bottom: 1%;
    font-size: 50px;
    color: rgba(128, 128, 128, 0.692);
    background-color: rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    outline: none;
}
.page-1 .title a i {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.page-1 .title a:hover{
    color: black;
}
.page-1 .integrantes{
    align-items: center;
}
.page-1 .card{
    margin: 5px;
    background-color: #262c2e;
}
.page-1 .integrantes .card{
    background-color: #262c2e;
    width: 13rem;
}
.page-1 .integrantes .card a{
    margin: 2px;
}
.page-1 .card label,
.page-1 .integrantes .card a{
    border:2.5px solid rgb(143, 143, 143);
    color: rgb(214, 214, 214);
}
.page-1 .integrantes .card img:hover{
    /* transform: scaleX(-1); */
}
.page-1 .card-arq img{
    min-height: 100%;
}
@media (max-width: 800px) {
    .page-1 .title{
        background-color: #790e1b;
        background-size: 150%;
    }
}
@media (max-width:459px) {
    .page-1 .integrantes .card{
        width: 10rem;
    }
}
@media (min-width:1450px) {
    .page-1 .title{
        background-position-x: center;    
        background-position-y: 1%;    
    }
    
}
