.page-1{
    background-color: #c7c6c7;
}
.page-1 .container{
    padding: 12px 12px;
}
.page-1 .title{
    background-color: #790e1b;
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}
.page-1 .title .intro {
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 50px;
}
.page-1 .title a{
    position: absolute;
    bottom: 2%;
    font-size: 50px;
    color: rgba(128, 128, 128, 0.692);
    background-color: rgba(255, 255, 255, 0.13);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    outline: none;
}
.page-1 .title a i {
    position: absolute;
    bottom: 7px;
    left: 10px;
}
.page-1 .title a:hover{
    color: black;
}
.page-1 .integrantes{
    align-items: center;
}
.page-1 .card{
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.226);
}
.page-1 .integrantes .card{
    background-color: rgba(255, 255, 255, 0.226);
    width: 13rem;
}
.page-1 .integrantes .card a{
    margin: 2px;
}
.page-1 .integrantes .card img:hover{
    /* transform: scaleX(-1); */
}
.page-1 .card-arq img{
    min-height: 100%;
}
@media (max-width: 800px) {
    .page-1 .title{
        background-color: #790e1b;
        background-size: 150%;
    }
}
@media (max-width:459px) {
    .page-1 .integrantes .card{
        width: 10rem;
    }
}