div.page-1{
    background-color: orange;
}
.page-1 .container{
    padding: 12px 12px;
}
.page-1 .title{
    background-image: url("/public/imgs/fundo-home2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92.5vh;
    text-align: center;
    /* text-shadow: .5px .5px rgba(255, 255, 255, 0.651); */
}
.page-1 .title .intro {
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 50px;
}
.page-1 .title a{
    position: absolute;
    bottom: 2%;
    font-size: 50px;
    color: rgba(128, 128, 128, 0.692);
    background-color: rgba(255, 255, 255, 0.521);
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.page-1 .title a i {
    position: absolute;
    bottom: 7px;
    left: 10px;
}
.page-1 .title a:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}
.page-1 .integrantes{
    align-items: center;
}
.page-1 .card{
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.226);

}
.page-1 .integrantes .card{
    background-color: rgba(255, 255, 255, 0.226);

}
/* .page-1 .mb-3 img:hover, */
.page-1 .integrantes .card img:hover{
    transform: scaleX(-1);
}
