.page-3 div .novAzul{
    background-color: #55c5ed;
    max-width: 1000px;
}
.page-3 div .novAzul div .card{
    margin: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.301);
    border: 1px solid rgba(116, 116, 116, 0.342); 
}
.page-3 div .novAzul div .meio{
    width: 44%;
}
.page-3 .bg-0 .card{ 
    width: 30rem;
    padding: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}
.page-3 .botoes {
    background-color: none;
    border: 2px solid black;
    border-radius: .5rem;
    padding: 7px;
    margin: 7px;
    font-weight: 600;
    
    text-align: center;
}
.page-3 .botoes:hover{
    background-color: #ed9aa2;
    border: 2px solid #ed9aa2;
}
iframe{
    width: 560px;
    height: 315px;
    margin: 10px;
}
@media (max-width:540px) {
    .page-3 div .novAzul div .meio{
        width: 88%;
    }
}
@media (max-width:700px) {
    iframe{
        width: 80%;
        height: 80%;
    }
}