*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: auto;
    scrollbar-color: #790e1b #111;
}
body{
     background-color: #303739;
     color: rgb(214, 214, 214);
} 
header nav{
    background-color: rgba(17, 17, 17, 0.9);
}  
label{
    cursor: pointer;
}
ul.navbar-nav{
    margin-left: auto;
}
nav ul label{
    padding: 8px;
    color: rgb(154,154,154);
    font-weight: 500;
    margin-right: 20px;
}
nav ul label:hover{
    color: rgba(255, 0, 0, 0.76);
    border-bottom: 2px solid #790e1b;
}

footer{
    color: #fff;
    background-color: #111;
    padding: 15px 0;
}

footer .backT{
    color: rgba(255, 255, 255, 0.329);
    font-size: xx-large;
    border-radius:100px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    cursor: pointer;
}
footer .backT:hover{
    color:rgb(255, 255, 255);
}
body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #111;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #790e1b;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #111;  /* creates padding around scroll thumb */
  }

/* troca de conteudo main */
#geral section{
    display: none;
}
#geral input[type="radio"]{display: none;}
#geral input[type="radio"]:checked+section{
    display: block;
}