*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* scrollbar-width: auto;
    scrollbar-color: #e4717c rgba(255, 255, 255, 0.5); */
}
body{
     background-color: #ffe1e3;
} 
header nav{
    background-color: rgb(255, 255, 255);
}  
label{
    cursor: pointer;
}
ul.navbar-nav{
    margin-left: auto;
}
nav ul label{
    padding: 8px;
    color: rgb(71, 71, 71);
    font-weight: 500;
    margin-right: 20px;
}
nav ul label:hover{
    color: #e4717c;
    border-bottom: 2px solid #e4717c;
}

footer{
    background-color: rgb(255, 255, 255);
    padding: 15px 0;
}

footer .backT{
    color: rgba(0, 0, 0, 0.329);
    font-size: xx-large;
    border-radius:100px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    cursor: pointer;
}
footer .backT:hover{
    color:rgb(0, 0, 0);
}
 
/* pagina 1 */
.page-1 .botoes label{
    background-color: none;
    border: 2px solid black;
    border-radius: .5rem;
    padding: 7px;
    margin: 7px;
    font-weight: 600;
    width: 10rem;
    text-align: center;
}
.page-1 .botoes label:hover{
    background-color: #d0519e;
    border: #d0519e;
}
/* troca de conteudo main */
#geral section{
    display: none;
}
#geral input[type="radio"]{display: none;}
#geral input[type="radio"]:checked+section{
    display: block;
}