*{
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family:cursive; */
    /* font-family:monospace;  */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
label{
    cursor: pointer;
}
ul.navbar-nav{
    margin-left: auto;
}
.nav-link:hover{
    color: rgba(255, 0, 0, 0.76) !important;
}

footer{
    color: #fff;
    background-color: var(--bs-gray-900);
    padding: 15px 0;
}

footer .backT{
    color: rgba(5, 5, 5, 0.329);
    font-size: xx-large;
    border-radius:100px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    cursor: pointer;
}
footer .backT:hover{
    color:rgb(0, 0, 0);
}
/* troca de conteudo main */
#geral div{
    display: none;
}
#geral input[type="radio"]{display: none;}
#geral input[type="radio"]:checked+div{
    display: block;
}