<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include ("../partials/head.ejs") %>
</head>
   <!-- <ApagarIssoAqui%- include ("../partials/header.ejs") %> -->

<!-- 
  <main id="geral">
  <input id="c1" type="radio" name="grupo" checked>
  <div class="page-1"> 
-->
<%- include ("../pages/index.html") %>
<!-- 
  </div>
    
  <input id="c2" type="radio" name="grupo">
  <div>oi</div>

  <input id="c3" type="radio" name="grupo">
  <div>oi</div>
  </main>

  <ApagarIssoAqui%- include ("../partials/footer.ejs") %> 
-->
</html>
