<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0f9b228ce4.js" crossorigin="anonymous"></script>
    
    <!-- <link rel="stylesheet" href="../css/style.css"> esse é o correto -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
    <title>Seven-Media</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <label for="c1" class="navbar-brand" href="#"><strong style="color: red; margin-right: 5px; font-size:larger;">S 7 M</strong>Seven-Media</label>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <label class="nav-link" for="c1">Home<label>
                    </li>
                    <li class="nav-item">
                    <label class="nav-link" for="c2">parte2<label>
                    </li>
                    <li class="nav-item">
                    <label class="nav-link" for="c3">parte3<label>
                    </li>
                    
                </ul>
                </div>
            </div>
        </nav>
        <div style="margin-top: 61px;width: 1px;"></div> <!--gambiarra -->
    </header>
    <main id="geral">
        <!-- conteudo principal -->
        <input id="c1" type="radio" name="grupo" checked>
        <div class="page-1">
            <section class="title">
                <section class="intro container position-absolute top-50 start-50 translate-middle">
                    <h1>Masculinidade</h1>
                    <h5>Preconceito a masculinidade de diferentes formas vista na sociedade</h5>
                </section>
                <a href="#bt_s" id="bt_s" class="position-absolute start-50 translate-middle"><i class="fas fa-sort-down"></i></a>
            </section>
            <section class="container" >
                <h2 class="text-center">Justiça do mundo atual</h2>
                <p>
                Queremos entender com este projeto, como a figura <strong>MASCULINA</strong> é representada pela Sociedade. Se nós, homens, conseguimos passar por cima de todo estigma social do "macho alpha" ideal, que hoje envolve muitos desafios, incluindo: questionar a cultura patriarcal que prevalece há séculos… Amadurecer emocionalmente e livrar-se das obrigações machistas do modelo tradicional de masculinidade. <br>
                A masculinidade sexualizada de uma massa. O quanto problemático é a omissão de sentimentos. E entender, <strong>porque homens não choram?</strong>
                </p>
                <p>Trouxemos essa ideia pois nosso grupo é composto por homens de diferentes lugares e culturas e queremos compartilhar tudo o que vemos no dia a dia</p>
                <hr>
                <h4 class="text-center">outros conteudos para se aventurar</h4>
                <section class="d-flex flex-wrap justify-content-center">
                    <section class="card mb-3" style="max-width: 540px;">
                        <section class="row g-0">
                          <section class="col-md-4">
                            <img src="../imgs/logo.jpeg" class="img-fluid rounded-start" alt="...">
                          </section>
                          <section class="col-md-8">
                            <section class="card-body">
                                <h5 class="card-title">Dados</h5>
                                <p class="card-text">dados que foram coletas e agora serão explicados</p>
                                <label for="c2" class="btn btn-dark">Veja</label>
                            </section>
                          </section>
                        </section>
                    </section>
                    <section class="card mb-3" style="max-width: 540px;">
                        <section class="row g-0">
                          <section class="col-md-4">
                            <img src="../imgs/1.png" class="img-fluid rounded-start" alt="...">
                          </section>
                          <section class="col-md-8">
                            <section class="card-body">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text">text.....</p>
                                <label for="c3" class="btn btn-dark">Veja</label>
                            </section>
                          </section>
                        </section>
                    </section>
                </section>
                <hr>
                <section class="integrantes">
                    <h1 class="text-center">integrantes
                    </h1>
                    <section class="d-flex flex-wrap justify-content-center" >
                        <section class="card" style="width: 13rem;">
                            <img src="../imgs/pessoa1.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Rodrigo Lopes</h5>
                                <p class="card-text">Ciências da computação <br>Dev Front-end</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img src="../imgs/pessoa2.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Alexandre Cerqueira</h5>
                                <p class="card-text">Ciências da computação <br>...</p>
                                <a href=""  class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img src="../imgs/pessoa3.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Thalles Nunes</h5>
                                <p class="card-text">...<br>...</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img src="../imgs/pessoa4.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Gilmar Lopes</h5>
                                <p class="card-text">...<br>...</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img src="../imgs/pessoa5.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Marcelo Bernardes</h5>
                                <p class="card-text">...<br>...</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img src="../imgs/pessoa6.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Gustavo Cezar</h5>
                                <p class="card-text">...<br>...</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section><section class="card" style="width: 13rem;">
                            <img src="../imgs/pessoa7.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Pedro Sérgio</h5>
                                <p class="card-text">...<br>...</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </div>

        <!-- <input id="c2" type="radio" name="grupo">
        <div  style="background-color: red;height: 1500px;">oi</div>

        <input id="c3" type="radio" name="grupo">
        <div  style="background-color: yellow;height: 1500px;">oi</div> -->
    </main>
    
    <footer>
        <div class="btt-s" alt="back to top">
            <i class="fas fa-angle-double-up"></i>
        </div>
        <div class="container">
            <div class="container">
                <div class="row">
                  <div class="col">
                    Um pequeno agradecimento aos criadores de conteudo
                  </div>
                  <div class="col">
                    USJT - projeto a3 Big Data
                  </div>
                  <div class="col">
                    ...
                  </div>
                </div>
              </div>
        </div>
    </footer>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <!-- bootstrap -->

    <script src="../js/btn_top.js"></script>
</body>
</html>