<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0f9b228ce4.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../images/icon.png">
    
    <!-- <link rel="stylesheet" href="../css/style.css"> esse é o correto -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/dados.css">
    <title>Seven-Media</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <label for="c1" class="navbar-brand" href="#"><strong style="color: red; margin-right: 5px; font-size:larger;">S 7 M</strong>Seven-Media</label>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <label class="nav-link" id="top1" for="c1">Home<label>
                    </li>
                    <li class="nav-item">
                    <label class="nav-link" id="top2" for="c2">Dados<label>
                    </li>
                    <li class="nav-item">
                    <label class="nav-link" id="top3" for="c3">parte3<label>
                    </li>
                    
                </ul>
                </div>
            </div>
        </nav>
        <div style="margin-top: 61px;width: 1px;"></div> <!--gambiarra -->
    </header>

    <main id="geral">
        <input id="c1" type="radio" name="grupo" >
        <div class="page-1"> <!--home-->
            <section class="title">
                <a href="#bt_s" id="bt_s" class="position-absolute start-50 translate-middle"><i class="fas fa-sort-down"></i></a>
            </section>
            <section class="container" >
                <h2 class="text-center">Maculinidade toxica</h2>
                <p>
                    Tal crise da masculinidade pode ser entendida como um “efeito colateral” do movimento feminista que ganharam força a partir da década de 60, e, fez com que alguns homens buscassem ressignificar e a buscar um modelo masculino que melhor descrevesse suas subjetividades na contemporaneidade.
                    A masculinidade toxica é uma construção social, que define um conjunto de regras que determinam comportamentos específicos esperados de indivíduos do sexo masculino. Devido a isso, pode impactar negativamente a saúde e o dia a dia de muitas pessoas.
                    Queremos entender com este projeto, como a figura MASCULINA é representada pela Sociedade nos dias atuais. Se nós, homens, conseguimos passar por cima de todo estigma social do "macho alpha" ideal. Se os conteúdos de consumo se renovaram.
                    Hoje, envolve muitos desafios, incluindo: questionar a cultura patriarcal que prevalece há séculos. Amadurecer emocionalmente e livrar-se das obrigações machistas do modelo tradicional e a masculinidade sexualizada de uma massa. O quanto problemático é a omissão de sentimentos.
                </p>
                <hr>
                <h4 class="text-center">outros conteudos para se aventurar</h4>
                <section class="d-flex flex-wrap justify-content-center card-arq">
                    <section class="card mb-3" style="max-width: 700px;">
                        <section class="row g-0">
                          <section class="col-md-4">
                            <img loading="lazy" src="../images/bd_logo.png" class="img-fluid rounded-start" alt="...">
                          </section>
                          <section class="col-md-8">
                            <section class="card-body">
                                <h5 class="card-title">Dados</h5>
                                <p class="card-text">dados que foram coletas e agora serão explicados para que você conheca melhor esse mundo em que vivemos
                                <br>
                                <small class="text-muted">pergunta feita aos entrevistados: <br> imagem tirada do site <a href="https://datafloq.com/read/how-cope-three-most-tedious-big-data-obstacles/6256">datafloq</a></small>
                                </p>
                                <label for="c2" class="btn btn-dark">Veja</label>
                            </section>
                          </section>
                        </section>
                    </section>
                    <section class="card mb-3" style="max-width: 700px;">
                        <section class="row g-0">
                          <section class="col-md-4">
                            <img loading="lazy" src="../images/1.png" class="img-fluid rounded-start" alt="...">
                          </section>
                          <section class="col-md-8">
                            <section class="card-body">
                                <h5 class="card-title">Title</h5>
                                <p class="card-text">text.....</p>
                                <label for="c3" class="btn btn-dark">Veja</label>
                            </section>
                          </section>
                        </section>
                    </section>
                </section>
                <hr>
                <section class="integrantes">
                    <h1 class="text-center">integrantes
                    </h1>
                    <section class="d-flex flex-wrap justify-content-center" >
                        <section class="card" style="width: 13rem;">
                            <img loading="lazy" src="../images/pessoa1.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Rodrigo Lopes</h5>
                                <p class="card-text">Ciências da computação <br>Dev Front-end</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img loading="lazy" src="../images/pessoa2.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Alexandre Cerqueira</h5>
                                <p class="card-text">Ciências da computação <br>...</p>
                                <a href=""  class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img loading="lazy" src="../images/pessoa3.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Thalles Nunes</h5>
                                <p class="card-text">...<br>...</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img loading="lazy" src="../images/pessoa4.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Gilmar Lopes</h5>
                                <p class="card-text">...<br>...</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img loading="lazy" src="../images/pessoa5.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Marcelo Bernardes</h5>
                                <p class="card-text">...<br>...</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img loading="lazy" src="../images/pessoa6.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Gustavo Cezar</h5>
                                <p class="card-text">...<br>...</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img loading="lazy" src="../images/pessoa7.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Pedro Sérgio</h5>
                                <p class="card-text">...<br>...</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                        <section class="card" style="width: 13rem;">
                            <img loading="lazy" src="../images/pessoa8.png" class="card-img-top" alt="...">
                            <section class="card-body">
                                <h5 class="card-title">Geovane Junior</h5>
                                <p class="card-text">...<br>...</p>
                                <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-github"></i></a>
                                <a href="" class="btn btn-dark"><i class="fab fa-linkedin"></i></a>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </div>
        <!-- -->
        <input id="c2" type="radio" name="grupo" checked>
        <div class="page-2"> <!--dados-->
            <section class="container">
                <h1 class="text-center">Dados de pesquisa</h1>
                <p>Os gráficos abaixo está baseado nas pesquisas feitas por nossa equipe de pesquisa.
                <br>
                <small>algumas pesquisas foram realizadas pelo google forms</small>
                </p>
                <!-- cartão -->
                <section class="card mb-3">
                    <section class="row g-0" style="padding: 5px;">
                        <section class="col-md-8">
                            <section class="card-body">
                                <h5 class="card-title">Gênero do ídolo</h5>
                                <p class="card-text">Este gráfico mostra o foco de visão sobre o idolo da maioria das pessoas. (modificar texto...)</p>
                                <hr>
                                <small class="text-muted">pergunta feita aos entrevistados: <br> "Sempre temos alguém em quem nos inspiramos. Na forma de agir, falar, se vestir e até seguir as mesmas filosofias de vidas. Qual o gênero do seu maior ídolo?"</small>
                            </section>
                        </section>
                        <section class="col-md-4">
                            <section class="canvas">
                                <canvas id="g_influencia"></canvas>
                            </section>
                        </section>
                    </section>
                </section>
                <!-- cartão -->
                <hr>
                <section class="card mb-3">
                    <section class="row g-0" style="padding: 5px;">
                        <section class="col-md-8">
                            <section class="card-body">
                                <h5 class="card-title">Quem paga a conta?</h5>
                                <p class="card-text">Vemos que uma maior porcentagem dos que responderam à pesquisa concordam que a conta deve ser dividida entre o casal. (...)</p>
                                <hr>
                                <small class="text-muted">pergunta feita aos entrevistados: <br> "Em um jantar ou passeio, o garçom entrega a comanda para uma mulher. Você concorda que ela pague sozinha? "</small>
                            </section>
                        </section>
                        <section class="col-md-4">
                            <section class="canvas">
                                <canvas id="pg_conta"></canvas>
                            </section>
                        </section>
                    </section>
                </section>
                <hr>
                <section class="card mb-3">
                    <section class="row g-0" style="padding: 5px;">
                        <section class="g-col-6">
                            <section class="card-body">
                                <h5 class="card-title">Você demonstra seus sentimentos</h5>
                                <p class="card-text">Quais seram os motivos de tanta insegurança que anda existe nas pessoas a ponto de elas se fecharem?</p>
                                <hr>
                                <small class="text-muted">pergunta feita aos entrevistados: <br> "Sabemos que todo mundo tem dificuldades de demonstrar sentimentos. De 0 a 10, qual é seu grau de dificuldade (sendo 0 nenhuma dificuldade, 5 dificuldade mediana e 10 muita dificuldade)"</small>
                            </section>
                        </section>
                        <section class="g-col-4">
                            <section class="canvas">
                                <canvas id="def_sent"></canvas>
                            </section>
                        </section>
                    </section>
                </section>
                <br>
            </section>
        </div>
        <!-- -->
        <input id="c3" type="radio" name="grupo">
        <div class="page-3"> <!--parte-3-->
            <section class="alert alert-danger" role="alert">
                <h4 class="alert-heading">olá</h4>
                <p>Está parte do site ainda não foi desenvolvida peço que volte para home ou para os dados</p>
                <hr>
                <p>
                    voltar para 
                    <label for="c1" style="text-decoration: underline;">Home<label>
                </p>
                <p>
                    voltar para
                    <label for="c2" style="text-decoration: underline;">Dados<label>
                </p>
            </section>
        </div>

    </main>
    
    <footer>
        <div class="backT" alt="back to top">
            <i class="fas fa-angle-double-up"></i>
        </div>
        <div class="container">
            <div class="container">
                <div class="d-flex flex-wrap justify-content-center">
                  <div class="col">
                    Um pequeno agradecimento aos criadores de conteudo
                  </div>
                  <div class="col">
                    USJT - projeto a3 Big Data
                  </div>
                  <div class="col">
                    ...
                  </div>
                </div>
              </div>
        </div>
    </footer>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    
    <!-- chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script src="../js/graphics.js"></script>
    <!-- chart -->

    <script src="../js/btn_top.js"></script>
</body>
</html>