<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0f9b228ce4.js" crossorigin="anonymous"></script>
    
    <link rel="shortcut icon" href="../images/icon.png">
    
    <!-- <link rel="stylesheet" href="../css/style.css"> esse é o correto -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/dados.css">
    <title>Seven-Media</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark ">
            <div class="container-fluid">
                <label for="c1" class="navbar-brand" href="#"><strong style="color: red; margin-right: 5px; font-size:larger;">S 7 M</strong>Seven-Media</label>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <label id="top1" for="c1">Home</label>
                    </li>
                    <li class="nav-item">
                        <label id="top2" for="c2">Pesquisa</label>
                    </li>
                    <li class="nav-item">
                        <label id="top3" for="c3">parte3</label>
                    </li>
                    <li class="nav-item">
                        <label id="top4" for="c4">parte4</label>
                    </li>
                    <li class="nav-item">
                        <label id="top4" for="c5">parte5</label>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        <!-- <div style="margin-top: 61px;width: 1px;"></div> gambiarra -->
    </header>

    <main id="geral">
        <input id="c1" type="radio" name="grupo" checked>
        <section class="page-1"> <!--home-->
            <div class="title">
                <a href="#bt_s" id="bt_s" class="position-absolute start-50 translate-middle"><i class="fas fa-sort-down"></i></a>
            </div>
            <div class="container" >
                <h2 class="text-center">Masculinidade toxica</h2>
                <p>
                    Tal crise da masculinidade pode ser entendida como um “efeito colateral” do movimento feminista que ganharam força a partir da década de 60, e, fez com que alguns homens buscassem ressignificar e a buscar um modelo masculino que melhor descrevesse suas subjetividades na contemporaneidade.
                    A masculinidade toxica é uma construção social, que define um conjunto de regras que determinam comportamentos específicos esperados de indivíduos do sexo masculino. Devido a isso, pode impactar negativamente a saúde e o dia a dia de muitas pessoas.
                    Queremos entender com este projeto, como a figura MASCULINA é representada pela Sociedade nos dias atuais. Se nós, homens, conseguimos passar por cima de todo estigma social do "macho alpha" ideal. Se os conteúdos de consumo se renovaram.
                    Hoje, envolve muitos desafios, incluindo: questionar a cultura patriarcal que prevalece há séculos. Amadurecer emocionalmente e livrar-se das obrigações machistas do modelo tradicional e a masculinidade sexualizada de uma massa. O quanto problemático é a omissão de sentimentos.
                </p>
                <hr>
                <h4 class="text-center">outros conteudos para se aventurar</h4>
                <div class="d-flex flex-wrap justify-content-center card-arq">
                    <div class="card mb-3" style="max-width: 700px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img loading="lazy" src="../images/bd_logo.png" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Pesquisa</h5>
                                <p class="card-text">dados que foram coletas e agora serão explicados para que você conheca melhor esse mundo em que vivemos
                                <br>
                                <small class="text-muted">imagem tirada do site <a href="https://datafloq.com/read/how-cope-three-most-tedious-big-data-obstacles/6256">datafloq</a></small>
                                </p>
                                <label for="c2" class="btn btn-dark" id="bt-dados">Veja</label>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 700px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img loading="lazy" src="../images/1.png" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">parte 3</h5>
                                <p class="card-text">text.....</p>
                                <label for="c3" class="btn btn-dark">Veja</label>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 700px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img loading="lazy" src="../images/1.png" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">parte 4</h5>
                                <p class="card-text">text.....</p>
                                <label for="c3" class="btn btn-dark">Veja</label>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="integrantes">
                    <h1 class="text-center">integrantes
                    </h1>
                    <div class="d-flex flex-wrap justify-content-center" >
                        <div class="card" >
                            <img loading="lazy" src="../images/pessoas/ro.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rodrigo Lopes</h5>
                                <p class="card-text">Ciências da computação <br>Dev Front-end</p>
                                <a href="https://www.instagram.com/rodrigo_kiro_/" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                                <a href="https://github.com/Kiro-tagama" class="btn btn-dark"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                        <div class="card" >
                            <img loading="lazy" src="../images/pessoas/ale.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Alexandre Cerqueira</h5>
                                <p class="card-text">Ciências da computação <br>Suporte e revisor</p>
                                <a href=""  class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="card" >
                            <img loading="lazy" src="../images/pessoas/tha.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Thalles Nunes</h5>
                                <p class="card-text">Publicidade<br>Pesquisador e editor</p>
                                <a href="https://www.instagram.com/thallesng/" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="card" >
                            <img loading="lazy" src="../images/pessoas/gil.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Gilmar Lopes</h5>
                                <p class="card-text">Jornalismo<br>pesquisador e editor</p>
                                <!-- <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a> -->
                            </div>
                        </div>
                        <div class="card" >
                            <img loading="lazy" src="../images/pessoas/marc.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Marcelo Bernardes</h5>
                                <p class="card-text">Jornalismo<br>Pesquisador e editor</p>
                                <a href="https://www.instagram.com/_eusoumb/" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="card" >
                            <img loading="lazy" src="../images/pessoas/gus-s.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Gustavo Silva</h5>
                                <p class="card-text">Jornalismo<br>Pesquisador e editor</p>
                                <a href="https://www.instagram.com/gustaaaavoo_/" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="card" >
                            <img loading="lazy" src="../images/pessoas/ped.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Pedro Sérgio</h5>
                                <p class="card-text">Ciências da computação<br>Suporte e pesquisador</p>
                                <!-- <a href="" class="btn btn-dark"><i class="fab fa-instagram"></i></a> -->
                                <a href="https://github.com/DevGnomox" class="btn btn-dark"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                        <div class="card" >
                            <img loading="lazy" src="../images/pessoas/geo.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Geovane Junior</h5>
                                <p class="card-text">Jornalismo<br>Pesquisador e editor</p>
                                <a href="https://www.instagram.com/_geovane_jr/" class="btn btn-dark"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- -->
        <input id="c2" type="radio" name="grupo" >
        <section class="page-2"> <!--pesquisa-->
            <h1 class="text-center">Dados de pesquisa</h1>
            <div class="container">
                <p>Os gráficos abaixo está baseado nas pesquisas feitas por nossa equipe de pesquisa.
                <br>
                as pesquisas foram realizadas pelo google forms
                </p>
                <div class="cartao-dados d-flex flex-wrap">
                    <!-- cartão -->
                    <!-- p1 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Gênero do ídolo</h5>
                                    <p class="card-text">Este gráfico mostra o foco de visão sobre o idolo da maioria das pessoas.</p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "Sempre temos alguém em quem nos inspiramos. Na forma de agir, falar, se vestir e até seguir as mesmas filosofias de vidas. Qual o gênero do seu maior ídolo?"</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="canvas">
                                    <canvas id="g_influencia"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- cartão -->
                    <!-- p2 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Quem paga a conta?</h5>
                                    <p class="card-text">Vemos que uma maior porcentagem dos que responderam à pesquisa concordam que a conta deve ser dividida entre o casal.</p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "Em um jantar ou passeio, o garçom entrega a comanda para uma mulher. Você concorda que ela pague sozinha? "</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="canvas">
                                    <canvas id="pg_conta"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- b1 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="g-col-6">
                                <div class="card-body">
                                    <h5 class="card-title">Você demonstra seus sentimentos</h5>
                                    <p class="card-text">Quais seram os motivos de tanta insegurança que anda existe nas pessoas a ponto de elas se fecharem?</p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "Sabemos que todo mundo tem dificuldades de demonstrar sentimentos. De 0 a 10, qual é seu grau de dificuldade (sendo 0 nenhuma dificuldade, 5 dificuldade mediana e 10 muita dificuldade)"</small>
                                </div>
                            </div>
                            <div class="g-col-4">
                                <div class="canvas">
                                    <canvas id="def_sent"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- b2 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="g-col-6">
                                <div class="card-body">
                                    <h5 class="card-title">Redes sociais</h5>
                                    <p class="card-text">As redes sociais são os locais onde mais vemos a presença da toxidade atual e pelo grafico percebemos que atualmente o foco de uso é o instagram </p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "Qual rede social você mais utiliza?"</small>
                                </div>
                            </div>
                            <div class="g-col-4">
                                <div class="canvas">
                                    <canvas id="f2-sical"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- b3 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="g-col-6">
                                <div class="card-body">
                                    <h5 class="card-title">titulo</h5>
                                    <p class="card-text">texto...</p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "O que você mais consome nas redes sociais?"</small>
                                </div>
                            </div>
                            <div class="g-col-4">
                                <div class="canvas">
                                    <canvas id="f2-consumo"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- p3 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">A moda</h5>
                                    <p class="card-text">O como a pessoa se veste é um grande ponto de implicação de pessoas "toxicas", aqui temos uma minoria que gosta de seguir a moda. </p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "O quanto você se sente parte da moda e suas tendências?"</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="canvas">
                                    <canvas id="f2-tendencia"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- p4 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">O que te define?</h5>
                                    <p class="card-text">A maioria utiliza de sua vivencia e experiencia para fazer o que faz ou ser como é então essa toxidade que existe vem de onde? pois ninguem quer ser ferido ou ferir o proximo <br>
                                    "o tempo é o que define uma pessoa" (by eu mesmo pois não encontrei na internet)</p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "Na sua visão, o que mais influencia na sua maneira de ser/agir?"</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="canvas">
                                    <canvas id="f2-ser"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- p5 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Aparencia</h5>
                                    <p class="card-text">Percebemos que a sociedade está cada vez mais parando de tomar conta da vida do proximo, como dito popularmente "as senhoras da varanda que ficam fofocando" parece que estão se ocupando de outra maneira</p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "Qual o motivo de você cuidar de sua aparência?"</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="canvas">
                                    <canvas id="f2-cuidar"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- p6 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Quem ganha mais?</h5>
                                    <p class="card-text">O salario do seu parceiro é realmente importante? , o complicado de se perguntar isso é saber que ainda existe pessoas com mente fechada e se tu é uma dessas pessoas está tudo bem mas agora foque em melhorar</p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "Você se sentiria confortável caso sua esposa tivesse um salário maior que o seu?"</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="canvas">
                                    <canvas id="f2-Msalario"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- p7 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Se cuide</h5>
                                    <p class="card-text">O bem estar é de grande importancia e não só sobre sua aparencia tambem sua saude</p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "Com qual frequência você trata da sua aparência?"</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="canvas">
                                    <canvas id="f2-aparencia"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- p8 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Insegurança</h5>
                                    <p class="card-text">A insegurança, um fator ruim que pode transformar pessoas e essa ocasionalidade pode afetar pessoas. (procure um expecialista caso ache necessario)</p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "O quão inseguro você se considera?"</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="canvas">
                                    <canvas id="f2-inseguro"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- p9 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">titulo</h5>
                                    <p class="card-text">texto...</p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "Um lar onde a mulher é a provedora da casa, funcionaria melhor?"</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="canvas">
                                    <canvas id="f2-Mcasa"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- p10 -->
                    <div class="card mb-3">
                        <div class="row g-0" style="padding: 5px;">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Teu sentimento</h5>
                                    <p class="card-text">Mais da metade dos homens relataram que seus sentimentos foram menosprezados, reforçando sua dificuldade em demonstrar esses sentimentos <br>Cuide de ti, o que tu sente é importante, se necessário procure um expecialista</p>
                                    <hr>
                                    <small >pergunta feita aos entrevistados: <br> "Alguém já disse que o que você sentia era frescura?"</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="canvas">
                                    <canvas id="f2-frescura"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </section>
        <!-- -->
        <input id="c3" type="radio" name="grupo">
        <section class="page-3" style="margin-top: 70px;"> <!--parte-3-->
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">olá</h4>
                <p>Está parte do site ainda não foi desenvolvida peço que volte para home ou para os pesquisa</p>
                <hr>
                <p>
                    voltar para 
                    <label for="c1" style="text-decoration: underline;">Home<label>
                </p>
                <p>
                    voltar para
                    <label for="c2" style="text-decoration: underline;">Pesquisa<label>
                </p>
            </div>
        </section>
        <!-- -->
        <input id="c4" type="radio" name="grupo">
        <section class="page-4" style="margin-top: 70px;"> <!--parte-4-->
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">olá</h4>
                <p>Está parte do site ainda não foi desenvolvida peço que volte para home ou para os pesquisa</p>
                <hr>
                <p>
                    voltar para 
                    <label for="c1" style="text-decoration: underline;">Home<label>
                </p>
                <p>
                    voltar para
                    <label for="c2" style="text-decoration: underline;">Pesquisa<label>
                </p>
            </div>
        </section>
        <!-- -->
        <input id="c5" type="radio" name="grupo">
        <section class="page-5" style="margin-top: 70px;"> <!--parte-5-->
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">olá</h4>
                <p>Está parte do site ainda não foi desenvolvida peço que volte para home ou para os pesquisa</p>
                <hr>
                <p>
                    voltar para 
                    <label for="c1" style="text-decoration: underline;">Home<label>
                </p>
                <p>
                    voltar para
                    <label for="c2" style="text-decoration: underline;">Pesquisa<label>
                </p>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="backT" alt="back to top">
            <i class="fas fa-angle-double-up"></i>
        </div>
        <div class="container">
                <div class="d-flex flex-wrap justify-content-center">
                  <div class="col" style="padding: 5px;">
                    Seven Media <br> Criada no intuito de explicar a masculinidade toxica
                  </div>
                  <div class="col" style="padding: 5px;">
                    USJT - projeto a3 Big Data
                    <br> professoras: <br>Carolina Pedrosa <br>Ivanilce Santos <br>Isadora Ortiz
                  </div>
                </div>
                <br>
                <p style="padding: 5px;">
                    Um agradecimento a nossa equipe de pesquisa e produção de conteudo e ao prof presente no desenvolvimento desse site
                </p>
        </div>
    </footer>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    
    <!-- chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script src="../js/graphics.js"></script>
    <script src="../js/forms2.js"></script>
    <!-- chart -->

    <script src="../js/btn_top.js"></script>
</body>
</html>
